<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/studHomeItems.css">
    <script>
        function changeButton(name, id) {
            const button = document.querySelector('#' + id);
            console.log(id);
            button.classList.add('changedButton');
            button.ariaDisabled = true;
            console.log('Hello World');
            window.location.href = '/studcalender/' + name;
        }
    </script>
    <link type="text/css" href="/src/css/studHomeItems.css" rel="stylesheet">
    <script src="/addevent.js"></script>
</head>

<body>
    <nav class="navbar-dark sticky-top ">
        <div class="container-fluid d-flex justify-content-between align-item-center">
            <!-- <a class="navbar-brand mt-2 symp_slate" href="#">SympSlate</a> -->
            <img class="navbar-brand  symp_slate img" src="/imgs/Logo2.png">
            <h5 class="mt-4 name">Hi <%=username%> | <span><a class='logout' href="/logout">Logout</a></span></h5>
        </div>
    </nav>

    <div class='allEvents'>
        <a href="/student/home">All Events</a>
        <a class='my_calender' href="/student/mycalender">My Calender</a>
    </div>
    <div class="main">
        <div class="Upcoming_Events">
            <h3>Upcoming Events</h3>
        </div>

        <%for(let event of events){%>

            <form action="/studcalender/:name">
                <%if(event.start_date>timenow){%>
                    <div class="event cards">
                        <div class="card_img_class">
                            <img src=<%=event.image%> class="card_img" alt="...">
                        </div>
                        <div class="">
                            <div class="">
                                <h5 class="title">
                                    <%=event.name%>
                                </h5>
                                <div class="form-control description">
                                    <p class="">
                                        <%=event.description%>
                                    </p>
                                    <!-- <p class=""><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                </div>
                            </div>
                        </div>
                        <div class="date_time">
                            <h4>
                                <%=event.word_date%>
                            </h4>
                            <h4>
                                <%=event.start_time%>-<%=event.end_time%>
                            </h4>


                            <button type='button' id=<%=event.name%> onclick="changeButton('<%=event.name%>',this.id)"
                                    <%for(let stevent of studEvents){%>
                                        <%if(stevent.name===event.name){%>
                                            style='color:black'class='changedButton' disabled
                                            <%check=1%>
                                                <%break%>
                                                    <%}%>

                                                        <%}%>
                                                            <%if(check==1){%>
                                                                >SCHEDULED

                                                                <%}%>
                                                                    <%if(check==0){%>
                                                                        class='button'>Add to calender
                                                                        <%}%>


                            </button>
                            <%check=0%>


                        </div>
                    </div>
                    <%}%>
            </form>
            <%}%>

                <div class="Upcoming_Events">
                    <h3>Past Events</h3>
                </div>
                <%for(let event of events){%>
                    <%if(event.end_date<timenow){%>
                        <div class="event cards">
                            <div class="card_img_class">
                                <img src="<%=event.image%>" class="card_img" alt="...">
                            </div>
                            <div class="">
                                <div class="">
                                    <h5 class="title">
                                        <%=event.name%>
                                    </h5>
                                    <div class="description">
                                        <p class="">
                                            <%=event.description%>
                                        </p>
                                        <p class=""><small class="text-muted">Last updated 3 mins
                                                ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="date_time">
                                <h4>
                                    <%=event.word_date%>
                                </h4>
                                <h4>
                                    <%=event.start_time%>-<%=event.end_time%>
                                </h4>

                            </div>
                        </div>
                        <%}%>
                            <%}%>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>